/*
	Template Name: My Folio
	Template URI: N/A
	Version: 1.0
	Author: Akash Paul
	Author URI: N/A
	Description: This web design is made for practise only.
*/
@font-face{
	font-family:OpenSans_Regular;
	src:url(../fonts/OpenSans-Regular.eot),
	url(../fonts/OpenSans-Regular.otf),
	url(../fonts/OpenSans-Regular.svg),
	url(../fonts/OpenSans-Regular.ttf),
	url(../fonts/OpenSans-Regular.woff);
}
@font-face{
	font-family:OpenSans_ExtraBold;
	src:url(../fonts/OpenSans-ExtraBold.eot),
	url(../fonts/OpenSans-ExtraBold.otf),
	url(../fonts/OpenSans-ExtraBold.svg),
	url(../fonts/OpenSans-ExtraBold.ttf),
	url(../fonts/OpenSans-ExtraBold.woff);
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
a{
	text-decoration:none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.clr{
	clear:both;
}
.floating{
	float:left;
}
/* Main CSS starts from here */
.full_wrapper{
	width:100%;
}
.main_wrapper{
	width:1187px;
	margin:0 auto;
}
.full_header{
	background-color:#02918c;
}
.main_header{
	height:62px;
}
.logo_part{
	width:200px;
}
.logo_part img{
	margin:22px 0 0 2px;
}
.nav{
	width:987px;
}
.nav ul{
	float:right;
    margin-top:22px;
}
.nav ul li{
	float:left;
    padding-left:45px;
}
.nav ul li a{
	color:#ffffff;
    font-family:OpenSans_ExtraBold;
    font-size:12px;
    text-transform:uppercase;
	transition:all ease 0.3s;
}
.nav ul li a:hover{
	color:#cfc91d;
}
/*** header end ***/
.full_banner{
	background-image:url(../img/banner_bg.jpg);
	background-size:cover;
}
.main_banner{
	height:730px;
	text-align:center;
}
.main_banner h3{
	color:#ffffff;
    font-family:opensans_regular;
    font-size:30px;
	padding:210px 0 24px;
}
.main_banner h1{
	color:#ffffff;
    font-family:opensans_extrabold;
    font-size:68px;
    letter-spacing:23px;
	padding-bottom:20px;
    text-transform:uppercase;
}
.main_banner p{
	color:#ffffff;
    font-family:opensans_regular;
    font-size:18px;
	padding-bottom:58px;
}
.main_banner img{
	padding-bottom:58px;
}
.main_banner a{
	background-color:#cfc91d;
    color:#0b1016;
    font-family:opensans_extrabold;
    font-size:16px;
    padding:14px 38px;
	transition:all ease 0.3s;
}
.main_banner a:hover{
	color:#ffffff;
}
/*** banner end ***/
.full_about{}
.main_about{
	height:740px;
	text-align:center;
}
.main_about h2{
	color:#02918c;
    font-family:opensans_extrabold;
    font-size:46px;
    padding-bottom:30px;
    padding-top:86px;
}
.main_about img{}
.main_about .para{
	color:#7e8287;
    font-family:opensans_regular;
    font-size:16px;
    line-height:34px;
    padding:28px 129px 73px;
}
.main_about .para span{
	font-family:opensans_extrabold;
    font-size:23px;
}
.icons_part{
	width:1160px;
	margin:0 auto;
}
.icons{
	border-right:1px solid #d9dbdb;
    float:left;
    margin-bottom:70px;
    padding:56px 53px;
    width:181px;
}
.icons:last-child{
	border-right:none;
}
.icons i{
	color:#02918c;
    font-size:32px;
	padding-bottom:28px;
}
.icons h3{
	color:#7e8287;
    font-family:opensans_extrabold;
    font-size:15px;
	padding-bottom:25px;
}
.icons p{
	color:#7e8287;
    font-family:opensans_regular;
    font-size:11px;
    line-height:22px;
}
/*** about end ***/
.full_service{
	background-image:url(../img/service_bg.jpg);
	background-size:cover;
}
.main_service{
	height:730px;
}
.left_part{
	float:left;
    padding-left:40px;
    width:553.5px;
}
.right_part{
	float:left;
    width:593.5px;
}
.main_service h2{
	color:#02918c;
    font-family:opensans_extrabold;
    font-size:46px;
    padding-bottom:30px;
    padding-top:70px;
}
.main_service .service_border{
	padding-bottom:22px;
}
.main_service .service_p{
	color:#7e8287;
    font-family:opensans_regular;
    font-size:16px;
    line-height:44px;
}
.service_items{
	padding-top:30px;
}
.item{
	float:left;
    padding:0 95px 34px 0;
    width:25%;
}
.item img{
	padding-bottom:12px;
}
.item h3{
	color:#7e8287;
    font-family:opensans_extrabold;
    font-size:17px;
    padding-bottom:17px;
}
.item p{
	color:#7e8287;
    font-family:opensans_regular;
    font-size:11px;
    line-height:24px;
}
/*** service end ***/
.full_work{}
.main_work{
	text-align:center;
}
.main_work h2{
	color:#02918c;
    font-family:opensans_extrabold;
    font-size:46px;
    padding:95px 0 25px;
}
.main_work img{}
.main_work p{
	color:#7e8287;
    font-family:opensans_regular;
    font-size:16px;
    line-height:40px;
    padding:18px 250px 80px;
}
.full_portfolio{
	height:476px;
}
.works{
	float:left;
    height:50%;
    width:25%;
	position:relative;
	cursor:pointer;
}
.works img{
	height:100%;
    width:100%;
}
.overlay{
	background-color:rgba(2, 145, 140, 0.85);
    box-sizing:border-box;
    height:100%;
    padding:53px 56px;
    position:absolute;
    text-align:center;
    width:100%;
    transform:scale(0);
	transition:all ease 0.3s;
}
.overlay h4{
	color:#ffffff;
    font-family:opensans_extrabold;
    font-size:16px;
    padding-bottom:24px;
    padding-top:12px;
}
.overlay p{
	color:#ffffff;
    font-family:opensans_regular;
    font-size:13px;
    line-height:24px;
}
.works:hover .overlay{
	transform:scale(.8);
}
/*** work end ***/
.full_contact_up{}
.main_contact_up{
	text-align:center;
}
.main_contact_up h2{
	color:#02918c;
    font-family: opensans_extrabold;
    font-size:46px;
    padding-bottom:26px;
    padding-top:86px;
}
.main_contact_up img{}
.main_contact_up p{
	color:#7e8287;
    font-family:opensans_regular;
    font-size:16px;
    line-height:38px;
    padding:22px 252px 62px;
}
.full_contact_down{
	background-color:#0b0b0b;
}
.main_contact_down{
	height:566px;
	width:920px;
	text-align:center;
}
.main_contact_down form{
	font-family:opensans_regular;
	color:#7e8287;
	font-size:16px;
}
.name, .mail{
	background-color:transparent;
    border-bottom:1px solid #4a4a4a;
    border-style:none none solid;
    color:#7e8287;
    font-family:opensans_regular;
    font-size:16px;
    margin-top:62px;
    padding:15px 0;
    text-align:center;
    width:640px;
}
.message{
	background-color:transparent;
    border-bottom:1px solid #4a4a4a;
    border-style:none none solid;
    color:#7e8287;
    font-family:opensans_regular;
    font-size:16px;
    resize:none;
    text-align:center;
	margin-top:62px;
	line-height:38px;
}
.submit{
	background-color:#cfc91d;
    border-style:none;
    color:#0b1016;
    font-family:opensans_extrabold;
    font-size:14px;
    margin:66px 0;
    padding:12px 62px;
	cursor:pointer;
	transition:all ease 0.3s;
}
.submit:hover{
	color:#ffffff;
}
/** contact end **/
.full_footer{
	background-color:#000000;
}
.main_footer{
	text-align:center;
	height:70px;
}
.main_footer p{
	color:#7e8287;
    font-family:opensans_regular;
    font-size:15px;
    line-height:70px;
}
/***** End *****/